*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
:root {
    --blue-900:#11193b;
    --dark-blue:rgba(7,11,41,0.90);
    --box-blue:#1b2654;
    --light-blue:#17aac9;
    --background:#070b29;
    --background-800:#070c33;
    --NunitoSans:'Nunito Sans';
}
ol,ul{
    list-style: none;
}
.display-flex{
    display: flex;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
}
.text-align-center{
    text-align: center;
}
.justify-content-center{
    justify-content:center;
}
.justify-content-between{
    justify-content:space-between;
}
.justify-content-end{
    justify-content:flex-end;
}
.align-items-center{
   align-items:center;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.move{
    width: 50%;
}
.send{
    width: 50%;
}
.Create{
    width: 33.33%;
}
.Attach{
    width: 33.33%;
}
.Send{
    width: 33.33%;
}
.img{
    width: 50%;
}
.payment{
    width: 50%;
}
